.content
  height 100%
  .left-container
    color #ffffff
    background-color #2b2f33
    width 60px
    height 100%
    float left
    .active
      a
        background-color green
      // color green

